/* Write your CSS here */
.checkButton {
  background-color: #0b69ff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
}
.summaryCard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
